.mainBox{
    margin: 10px;
    width: 35vw;
    padding: 10px;
    height: 95vh; 
    border: 1px solid black;
    border-radius: 10px;
}

.chatBox{
    margin: 10px;
    width: 32vw;
    padding: 10px;
    height: 65vh; 
    border: 1px solid black;
    border-radius: 10px;
    overflow-y: auto; /* Enable vertical scrolling */

}

.chatBoxParent{
    align-items: center;
}

.inputBox{
    width: 30vw; /* Adjusted to fit inside the chat box */
}

.msgBox{
    display: flex;
    justify-content: space-evenly;
}

.myMessage {
    text-align: right;
    background-color: #d1e7dd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 60%;
    margin-left: auto;
  }
  
  .otherMessage {
    text-align: left;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 60%;
    margin-right: auto;
  }